// $primary: #1F78BC;
$info: #8c52ff;
$primary: $info;
$secondary: #1F78BC;
$success: #97c342;
$white: #ffffff;
$joinbtn: #E97029;
$joinbtnhover: #ff6206;
$hover-bg: #E97029;
$warning: #f4ae12;
$warning-hover: #e0ac2b;

$about-section-background: #f8f9fa;



@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
}

.highlight-text {
    font-family: "Lobster", sans-serif;
    text-shadow: 2px 4px $white;
}

p,
address,
.btn,
input,
textarea,
text,
strong,
small {
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    font-family: "Oswald", sans-serif;

}

input, .btn {
    margin-bottom: 0;
}

.btn {}

.btn.btn-primary,
#searchBtn {
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
        box-shadow: 0px 0px 15px 5px $primary;
        scale: 1.02;
    }
}

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    z-index:9999; /* Ensure it's on top of other content */
  }

#navbar {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //    background-color: red;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.76);
    z-index: 1000;
}


#navtop {
    width: 100%;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas {
    font-family: "Oswald", sans-serif;
    background-color: $primary;
}

.offcanvas-title {
    width: 100%;
}

.offcanvas-header .btn-close {
    margin: 0;
}

.offcanvas-header {
    align-items: end;
}

.offcanvas-body {
    display: flex;
    align-items: center;
}

.offcanvas-footer {
    // margin-right: 15px;
}

#navbar-toggler-icon {
    right: 10px;
    transform: translateY(-50%);
    top: 50%;
    transition: 0.3s linear;

    &:focus {
        border: 0;
    }

    &:hover {
        scale: 0.90;
        box-shadow: 0 0 20px 10px #ccc;
    }
}

.searchbox {
    margin: 12px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Oswald", sans-serif;
    box-shadow: 0 0 10px 2px #ccc;
}

.searchInput {
    padding: 5px 10px;
    border-radius: 16px;
    display: inline-block;
}

.form-control {
    border: none;

    input[type="search"] {
        border: 1px solid #ccc;
        width: 100%;
        max-width: 600px;
        min-width: fit-content;

        &:focus {
            border: none;
        }
    }
}

#searchBtn {
    color: $white;
    background-color: $info;
    padding: 10px 15px;
    border: none;
    border-radius: 16px;
    transition: 0.3s linear;

    &:hover {
        background-color: rgba($info, $alpha: 0.9);
    }
}

#navbarNav {
    position: relative;

}

#joinbtn {
    transition: 0.3s linear;
    color: #ffffff;
    background-color: $joinbtn;

    border: 1px solid $joinbtn;

    &:hover {
        background-color: $joinbtnhover;
        box-shadow: 0px 0px 15px 5px $joinbtn;
        scale: 1.02;
    }
}

#signup {
    color: $white;
    background-color: $warning;
    margin-top: 20px;
    padding: 7px 15px;
    transition: 0.3s linear;
    font-weight: 500;
    border: 1px solid $warning;
    box-shadow: 0 0 2px 3px $warning;

    &:hover {
        color: $white;
        background-color: $warning-hover;
        border: 1px solid $warning-hover;
        box-shadow: 0 0 10px 6px $warning-hover;
    }
}

#getInTouch {
    color: $white;
    background-color: $success;
    margin-top: 20px;
    padding: 7px 15px;
    transition: 0.3s linear;
    font-weight: 500;
    border: 1px solid $success;
    box-shadow: 0 0 2px 3px $success;

    &:hover {
        color: $white;
        background-color: $warning-hover;
        border: 1px solid $warning-hover;
        box-shadow: 0 0 10px 6px $warning-hover;
    }
}

ul.navbar-nav {
    background-color: $primary !important;
    border: 1px solid $primary;
    border-radius: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;

}

.nav-item {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    border-radius: 16px;
    width: 100%;

    &:hover {
        background-color: $warning;

        .nav-link {
            color: $white;

        }
    }
}

.nav-link {
    font-family: "Oswald", sans-serif;
    color: $white;
    font-weight: 500;
    font-size: 1.15rem;
    padding: 5px 15px;
    transition: 0.5s linear;

    &.active {
        color: #fff !important;
        background-color: $warning !important;
        // border: 1px solid $warning !important;
        border-radius: 16px;
        width: 100%;
    }
}

// hero section starts

.hero-section {
    background-image: url('../assets/images/hero.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    // animation: zoomIn 3s linear infinite alternate;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

}

.hero-content {
    z-index: 2;
}

.hero-section h1 {
    font-size: 2rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
}

#brain {
    // z-index: 15;
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    right: 50%;
    // transform: translateX(50%);
    animation: zoomInTranslate 3s linear infinite alternate;

}

#light {
    position: absolute;
    border-radius: 100%;
    bottom: 30px;
    right: 30px;
}

// hero section ends
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.01);
    }

    50% {
        transform: scale(1.025);
    }

    75% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes zoomInTranslate {
    0% {
        transform: scale(1);
        transform: translateX(0);
        transform: rotate(0deg);
    }

    20% {
        transform: scale(1.01);
        transform: translateX(20%);
    }

    50% {
        transform: scale(1.02);
        transform: translateX(50%);
    }

    75% {
        transform: scale(1.03);
        transform: translateX(75%);
    }

    100% {
        transform: scale(1.4);
        transform: translateX(100%);
        transform: rotate(360deg);
    }
}


/* About Us Section */
#about {
    background-color: $about-section-background;
    padding: 40px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 3rem;
        color: $primary;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
    }

    h4 {
        font-size: 2rem;
        font-weight: 700;
        color: $secondary;

    }
}

#services {
    overflow: hidden;

    h2 {
        font-size: 3rem;
        color: $success;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
    }

    h4 {
        font-size: 2rem;
        font-weight: 700;
        color: $primary;

    }

    .card {
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.04);
        }
    }
}

// service section

.services-icon {
    font-size: 3rem;
}


// 

#success-stories {
    overflow: hidden;

    h2 {
        font-size: 3rem;
        color: $success;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary;

    }

    .card {
        transition: 0.3s linear;
        // min-height: 250px;
        // max-width: fit-content;

        &:hover {
            transform: scale(1.04);
        }
    }
}

/* Testimonials Section */
#testimonials {

    .card {
        box-shadow: 0 0  5px 2px #ccc !important;
        margin: 10px;
        &:hover {
            box-shadow: 0 0  10px 5px #ccc !important;
        }
    }
    small {
        color: $success;
       }
    .section-title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: $success;

    }

    h5 {
        color: $primary;
    }

    .lead {
        font-size: 1.1rem;
        color: #6c757d;
        
    }

    .card {
        border: none;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.02);
        }
    }

    .card-body img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    a {
        text-decoration: none;
    }
    .carousel-control-prev i,
    .carousel-control-next i {
        background-color: $primary ;
        color: $white;
        border-radius: 50%;
        padding: 10px;
        text-decoration: none;
    }

    .carousel-item {
        transition: transform 0.6s ease-in-out;
    }
}

#technologies {
    overflow: hidden;

    h2 {
        font-size: 3rem;
        color: $primary;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        color: #111;
    }

    h5 {
        font-size: 1.5rem;
        font-weight: 700;
        color: $success;

    }

    .tech-card {
        img {
            height: 120px;
        }

        transition: 0.3s linear;

        &:hover {
            transform: scale(1.04);
        }
    }
}

#why-choose-us {
    overflow: hidden;

    h2 {
        font-size: 3rem;
        color: $success;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 700;
        font-style: italic;
        color: $primary;

    }

    .card {
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.04);
        }
    }
}

#blog {
    overflow: hidden;

    h2 {
        font-size: 3rem;
        color: $success;
        font-weight: 900;
    }

    .card {
        border: none;
        border-radius: 8px;
        /* Rounded corners for cards */
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.04);
        }
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.4rem;
        font-weight: 700;
        font-style: italic;
        color: $primary;
        margin-bottom: 15px;
    }

    .card-text {
        font-size: 1rem;
        color: #666;
    }

    .card-footer {
        background-color: transparent;
        border-top: none;
        text-align: center;
    }

    .card-footer .btn {
        background-color: $primary;
        margin-bottom: 10px;
        color: white;
        border-radius: 4px;
    }

    p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
}

// Stay Connected

/* Stay Connected Section */
#stay-connected {
    background-color: rgba($success, 0.3);
    overflow: hidden;
    padding: 0 40px;

    h2 {
        font-size: 3rem;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    h4 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        font-family: "Oswald", sans-serif;
        ;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background-color: #000;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .fa {
        color: #333;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $primary;
            /* Change color on hover */
        }

    }
}

#contact-us {
    overflow: hidden;
    padding: 0 40px;
    background-color: rgba($primary, 0.1);

    h2 {
        font-size: 3rem;
        color: $primary;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 700;
        font-style: italic;
        color: $primary;
    }

    label {
        font-size: 1.125rem;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
    }

    strong {
        color: $primary;
    }
}

/* Footer Section */
footer {
    // background-color: rgba($success, 0.8);
    background-color: #222;
    overflow: hidden;

    h2 {
        font-size: 3rem;
        color: $success;
        font-weight: 900;
        margin-top: 40px;
    }

    p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 700;
        font-style: italic;
        color: $primary;
    }

    a {
        text-decoration: none;

        &:hover {
            color: $hover-bg !important;
        }
    }

    ul li {
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.02);
        }
    }
}


// media queries
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    #signup {
        margin-top: 0px;
        margin-left: 10px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .hero-section h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .hero-section p {
        font-size: 1.25rem;
    }

    .about-us {
        height: 80vh;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .hero-section h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .hero-section p {
        font-size: 1.25rem;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}