* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: muli regular;
  src:
    url('/assets/fonts/muli.regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/muli.regular.woff') format('woff'),
    url('/assets/fonts/muli.regular.woff2') format('woff2') url('/assets/fonts/muli.regular.eot');
}

body,
* {
  font-family: muli regular, sans-serif
}

header {
  /* border: 3px solid green; */
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

/* #hamburger-icon-menu {
  display: none;
  text-decoration: none;
} */

input[type="checkbox"] {
  display: none;

  /* visibility: hidden; */
}


#hamburger-icon-menu  {
  cursor: pointer;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  
}

/* #hamburger-icon-menu1 {
  display: none;
} */

.header-content {
  /* background-image: url('/assets/images/coverphoto.webp'); */


  background-size: cover;
  /* background-repeat: repeat;
  width: 100%;
  height: 370px; */
  width: 100%;
  background-repeat: repeat;
  z-index: 999;
}

nav ul.nav-ul {
  display: flex;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  height: 97px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav-content.sticky {

  position: fixed;
  background-color: #013573;
  height: 97px;

}

.nav-content>.header-logo img {
  transition: all .3s linear 0s;
}

.nav-content.sticky>.header-logo img {
  width: 182px;
  height: 60px;
}


/* creating navmenu dropdown */

nav>ul>li>.nav-item-menu2 {
  display: none ;
  position: absolute;
  width:80%;
  right: 60px;
  gap: 65px;
  /* padding: 45px 15px; */
  padding: 20px 15px;
  background-color: #fff;
  top: 65px;

  
}

.caret-on-nav {
  display: none;
  position: absolute;
  right: 20px;
  color: #000;
}

#allnearme {
  display: none ;
  position: absolute;
  width:12%;
  right: 350px;
  /* gap: 65px; */
  /* padding: 45px 15px; */
  padding: 20px 10px;
  background-color: #fff;
  top: 65px;

}

.triangle {
  display: none;
  width: 0;
  height: 0;
  border-width: 11px 16px 0;
  border-color: #013573 transparent transparent transparent;
  border-style: solid;
  position: relative;
  left: calc(50% - 15px);
  top: 10px;
  z-index: 9999;
}

nav>ul>li>.nav-item-menu2>.nav-item-menu-img {
    
    max-width: 100%;
    /* margin-right: 65px; */
    /* flex-basis: 30%; */
    
}

nav>ul>li:hover .nav-item-menu2{
  display: flex;
}
nav>ul>li>.nav-item-menu2 >ul >li:hover a.nav-link-sub {
  background-color: #f0f8ff;
}

nav>ul>li:hover #allnearme{
  display: flex;
}

nav>ul>li:hover .triangle{
  display: flex;
}

nav>ul>li:hover .caret-on-nav{
  display: none;
}



nav>ul>li>.nav-item-menu2 >ul >h5 {
  border-bottom: none;
  font-size: 1.125rem;
  line-height: 2.1875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #013573;
  padding-bottom: 15px!important;
  padding: 8px 16px;
  padding-top: 30px;
}

nav>ul>li>.nav-item-menu2 >ul >li.dropdown-item {
  /* color: #535353;
  font-size: 1rem; */
  margin: 0;
  
}

nav>ul>li>.nav-item-menu2 >ul >li>a.nav-link-sub {

    color: #535353;
    display: block;
    line-height: 34px;
    padding: 8px 16px;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;

}

nav>ul>li>.nav-item-menu2 >ul {
  display: flex;
  flex-direction: column;
}

#destinations {
  display: none;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 810px;
}

ul >li.nav-item:hover #destinations{
  display: flex;
}

#destinations ul {
  height: 180px;
  width: 60%;
  overflow: hidden;
  flex-wrap: wrap;
  border-right: 1px solid #d6d6d6;
}

#destinations .destination-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #535353;
}


#destinations .search-button-nav {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  border: 0;
  height: auto;
  margin: 10px 0 0;
}
.destination-right .head-text-destination {
  position: relative;
  right: -20px;
  top: -50px;
  width: 252px;
}
.destination-right img {
  position: relative;
  left: -143px;
  top: 5px;
}

.dest-low-text {
  text-align: center;
}

#destinations h5 {
  font-size: 14px;
}

#destinations p {
  font-size: 12px;
}

#destinations:hover ul {
  height: 180px;
  width: 60%;
  overflow: hidden;
  flex-wrap: wrap;
  border-right: 1px solid #d6d6d6;
}

#forOwners {
  width: 12%;
}

.home-banner-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.home-banner {
  background-color: initial;
  position: relative;
}

.home-banner img.banner-image {
  width: 100%;
  /* height: 50vh; */
  height: calc(100vh - 255px);
  object-fit: cover;
  /* max-height: calc(100vh - 255px); */
}

.home-banner-bg .overlay {
  position: absolute;
  width: 100%;
  height: 362px;
  background: url('/assets/images/banner-bg-bottom.png')repeat 50% 100%;
  top: -95px;
  left: 0;
  display: block;
  z-index: 1;
  rotate: 180deg;
}

.home-banner-bg .overlay-bottom {
  position: absolute;
  width: 100%;
  height: 370px;
  background: url('/assets/images/banner-bg-bottom.png')repeat 50% 100%;
  bottom: 4px;
  left: 0;
  display: block;
  z-index: 0;
}

header>a {
  height: 60px;
  line-height: 60px;
}

nav {
  border-bottom: 1px solid white;
  /* padding-bottom: 15px; */
  /* background-image: url('/assets/images/banner-bg-bottom.png'); */
  z-index: 9999;
}

#close-button {
  display: none;
  position: relative;
  right: -10px;
  z-index: 9999;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#close-button-white {
  display: none;
  z-index: 9999;
}

.nav-ul {
  /* border-bottom: 1px solid #fff; */
  /* padding-bottom: 30px; */
}

.nav-content.sticky nav {
  border-bottom: none;
  padding-bottom: 0px;
}

nav>ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  font-family: 'muli regular';

}

ul li>a {
  text-decoration: none;
  color: #ffffff;
}

nav>ul>li>a>img {
  height: 20px;
  line-height: 20px;
  margin: 2px 0 0;
}

/* .search {
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background: url('/assets/images/icons/search-icon.png');
    background-size: 20px 20px; 
    fill: #ffffff;    
  } */

.header-search-box {

  position: absolute;
  width: 100%;
  height: 370px;

  background-repeat: repeat;
  background-size: contain;
  bottom: 4px;
  left: 0;
  display: block;
  object-fit: cover;

  z-index: 1;
}

.img-overlays {
  position: absolute;
  bottom: -150px;
  width: 100%;
  background-repeat: repeat;
}

.header-search-text {
  font-family: 'muli regular';
  font-size: 26px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 25px;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, .25), 0 0 45px rgba(0, 0, 0, .25);


}

.header-banner-form {
  background-color: #013573;
  padding: 34px 38px;
  /* position: relative; */
  border-radius: 4px;
  width: 100%;
  max-width: 1019px;
  margin: 0 auto;


}

.header-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* border: 60px 0; */
  /* padding: 10px; */
  /* gap: 5px; */

}

.header-form .location-area {
  padding: 0 8px;
}

.header-form .date-area {
  padding: 0 8px;
}

.header-form .button-area {
  padding: 0 8px;
}

input#location {
  width: 415.55px;
  padding: 5px 40px 5px 20px;

}


.header-form-item input {
  border-radius: 3px;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 700;
  /* border: 1px solid #00cd92; */
  height: 65px;
  padding: 5px 40px 5px 20px;
  color: #013573;
  cursor: pointer;
}

.search-button {
  display: inline-block;
  font-size: 1.125rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  border: 0;
  transition: .3s ease;
}

input#date-range-display {
  width: 252.52px;

}

button#search-button {
  width: 242.92px;

}

/* Header Section END
TOP SECTION STARTING */

.top-section {
  padding: 80px 0px 0px;
}

.top-section-box>h1 {
  font-size: 30px;
  margin: 0px 0px 15px;
}

.top-section-box img {
  width: 246.59px;
}

.container-fluid {

  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;

}

.container-fluid>h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 26px;
}

.head-subtitle {
  padding-top: 85px;
  padding-bottom: 25px;
}

.box-tiles-container {
  margin: 0 auto;
  /* display: flex;
    justify-content: center;
     align-items: center;
    align-content: center; */
}

/* .box-tiles {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px;
  
  justify-content: baseline;

  row-gap: 10px;




} */

.box-tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box-tiles .card {
  width: calc(25% - 15px);
  min-width: calc(25% - 15px);

}




.card-img-relative {
  position: relative;
  color: #ffffff;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
  /* height: 400px; */
}

.img-property {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 2px 2px;
  height: 280px;

  background-size: cover;
  position: relative;
  z-index: -1;

}

.card-title-property-count {
  display: flex;
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}


p.card-title-text {

  font-weight: 700;
  margin-left: 5px;
}

p.property-count {

  font-size: 11px;
  font-weight: 600;

  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  letter-spacing: 1px;
}


.property-content-page {
  max-width: 1200;
  max-height: 180;
  padding: 20px 20px;
  margin: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.property-content-page p {
  font-size: 1.125rem;
  line-height: 32px;
  font-weight: 500;
  color: #a5a5a5;
  text-align: center;
  padding: 0 32px;
  max-width: 1150px;
  margin: 0 auto;

}

.property-content-page>p {

  padding-bottom: 10px;

}

.property-content-page h3 {
  background-color: #103076;
  font-size: 30px;
  color: #ffffff;
  line-height: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: fit-content;
  padding: 10px 15px;
}

.property-list-name {
  border: 1px solid #103073;
  border-radius: 8px;
  padding: 10px 32px;
  /* margin:  0 8px; */
}

.property-list-name ul {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;

}

.property-list-name ul li {
  list-style-type: none;
  padding: 10px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.property-list-name ul li a {
  color: #103076;
  font-size: 16px;
  font-weight: 700;
}

.footer {
  background-color: #013573;

}

.footer-top {
  padding: 30px 0 25px;
  border-top: 1px solid #1b4a81;
  border-bottom: 1px solid #1b4a81;
  width: 95%;
  margin: 0 auto;
}

.footer-logo img {
  /* border: 1px solid white ; */
  /* padding: 0px 32px; */
  display: inline-block;
  width: 268px;
  /* margin: 100px 48px; */
  margin-top: 100px;
  margin-left: 48px;
}

.footer-logo+p {
  margin: 20px 0 40px 48px;
  line-height: 30px;
  color: #00cd92;
  font-size: 16px;
  /* font-weight: 600; */
  max-width: 60%;
}

.footer-logo-description {
  padding: 0 40px;
}

.footer .footer-quicklinks {
  background-color: #013573;
}

.footer-quicklinks h6 {
  display: inline-block;
  color: #00cd92;
  font-weight: bold;
  font-size: 14px;
  margin-top: 40px;
  /* margin-left: 48px;  */
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  /* border: 1px solid; */
}

.footer-quicklinks>ul {
  display: flex;
  margin-left: 32px;


}

.footer-quicklinks>ul>li {
  list-style-type: none;
  /* padding: 10px; */
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  align-content: start;
  gap: 25px;
}

.footer-quicklinks>ul>li>a {
  /* color: #103076; */
  font-size: 18px;
  /* font-weight: 700; */
}

.footer-quicklinks>ul>li>ul>li {
  list-style: none;
}

.footer-quicklinks>ul>li>ul>li>a>img {
  /* width: 10px;
    height: 22px; */
  background-size: cover;
  object-fit: cover;
  /* margin: 0 16px; */
  margin-right: 16px;
  line-height: 24px;
  height: 24px;
}

.footer-quicklinks>li>ul {
  /* display: flex; */

}


.quicklinks-4 {
  flex-grow: 2;
}

.subscribe-input {
  /* display: flex; */
  width: 100%;
}

input#subscribe {
  width: 310px;
  height: 52px;
  background-color: #013573;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 4px;
  letter-spacing: 1px;
}

#subscribe::placeholder {
  color: #fff;
}

button#submit-subscribe {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 15px;
  margin: 10px 0 10px 10px;
  width: 155px;
  height: 52px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #00cd92;
  background-color: #00cd92;
  color: #fff;

}

.footer-privacy-term {
  display: flex;
  gap: 5px;
}

.footer-privacy-term>li {
  color: #fff;
}

.footer-privacy-term>li>a {
  font-size: 14px;
}

.copy-right-text {
  font-size: 14px;
  color: #fff;

}

.copy-right-text>a {
  text-decoration: none;
  color: #fff;
}

/* footer logo section */

.footer-certified-logos {
  margin: 100px 0 0px;
  padding: 30px 40px 0px;
  display: flex;
  justify-content: start;
  align-items: baseline;
  max-width: 95%;
  border-top: 1px solid #1b4a81;
}

.footer-certified-logos-1 {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 100px; */
  flex-basis: 40%;
}


.vrma-logo {
  padding-left: 157px;
}

.select>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 1px solid #00cd92;
  border-radius: 4px;
  /* column-gap: 40px; */
}

.select>.select-currency li {
  list-style: none;
  width: 138px;
  /* border: 1px solid #111; */
  height: 50px;
  line-height: 50px;
}

.select>.select-currency>li>a {
  color: #00cd92;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.select ul li ul {
  display: none;
}

.select-currency {
  position: relative;
}

.select ul li:hover ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  bottom: 50px;
  /* margin-bottom: 5px; */
  background: #fff;
  border-radius: 6px;
  width: 138px;
  /* padding: 10px 2px;  */
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
}

.select ul li ul li a {
  color: #333;
  text-transform: uppercase;
  font-weight: 600;

}


.caret-img {
  width: 14px;
  height: 14px;
}

.footer-certified-logos-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 60%;
  gap: 10px;
  color: #fff;
}


#travelai-logo {
  width: 237px;
  object-fit: cover;
}

.powered-text {
  color: #fff;
}



@media (max-width: 1400px) {

  input#subscribe {
    width: 415px;
    height: 52px;
    background-color: #013573;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  button#submit-subscribe {
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    padding: 15px;
    margin: 10px 0 10px 0px;
    text-transform: uppercase;
    max-width: 415px;
    width: 100%;
    height: 52px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #00cd92;
    background-color: #00cd92;
    color: #fff;
  }
}

@media (max-width: 1200px) {

  #header-logo-svg {
    height: 34px;
  }

  nav>ul li {
    display: block;
    list-style-type: none;
    /* margin-right: 10px; */
    /* margin: 0 1rem; */
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'muli regular';

  }

  input#subscribe {
    width: 415px;
    height: 52px;
    background-color: #013573;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  button#submit-subscribe {
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    padding: 15px;
    margin: 10px 0 10px 0px;
    text-transform: uppercase;
    max-width: 415px;
    width: 100%;
    height: 52px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #00cd92;
    background-color: #00cd92;
    color: #fff;
  }

  .nav-item-menu-img {
    display: none;
  }
}

@media (max-width: 1024px) {

  /* and (min-width: 991px) */
  #header-logo-svg {
    width: 80%;
  }

  .header-banner-form {
    background-color: #013573;
    padding: 16px 30px;
    position: relative;
    border-radius: 4px;
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
  }

  nav>ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'muli regular';

  }

  .box-tiles .card {
    width: calc(33% - 20px);
    min-width: calc(33% - 20px);
  }

  .footer-quicklinks>ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .footer-quicklinks>ul>li {
    align-items: center;
    justify-content: center;

  }

  .property-list-name ul {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .property-list-name ul li {
    list-style-type: none;
    padding: 10px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .footer-logo-description {
    padding: 0px 0px;
  }

  .footer-logo img {
    /* border: 1px solid white; */
    /* padding: 0px 32px; */
    display: inline-block;
    width: 268px;
    /* margin: 100px 48px; */
    margin-top: 60px;
    margin-left: 0px;
  }

  .footer-quicklinks>ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-quicklinks>ul>li {
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 25%;
  }

  li.quicklinks-1 {
    order: 1;
  }

  li.quicklinks-2 {
    order: 2;
  }

  li.quicklinks-4 {
    order: 3;
  }

  li.quicklinks-3 {
    order: 4;
    /* flex-basis: 50%; */
    width: 50%;
  }



  input#subscribe {
    display: block;
    width: 100%;
    /* max-width: 280px; */
    height: 52px;
    background-color: #013573;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  #subscribe::placeholder {
    color: #fff;
  }

  button#submit-subscribe {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 15px;
    margin: 10px 0 10px 0px;
    width: 100%;
    /* max-width: 280px; */
    height: 52px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #00cd92;
    background-color: #00cd92;
    color: #fff;
  }

  .footer-privacy-term {
    display: flex;
    gap: 5px;
  }

  .footer-privacy-term>li {
    color: #fff;
  }

  .footer-privacy-term>li>a {
    font-size: 14px;
  }

  .copy-right-text {
    font-size: 14px;
    color: #fff;

  }

  .copy-right-text>a {
    text-decoration: none;
    color: #fff;
  }

}

@media (max-width: 992px) and (min-width: 768px) {


  .nav-content {
    /* flex-direction: column; */
    padding: 10px;
  }

  .home-banner-form {
    padding: 20px;
  }

  .header-banner-form {
    padding: 16px 10px;
    position: relative;
    border-radius: 4px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;


  }


  .header-form-item input {
    border-radius: 3px;
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 700;
    /* border: 1px solid #00cd92; */
    height: 65px;
    /* padding: 5px 40px 5px 20px; */

  }

  input#location {

    width: 290px;
    padding: 5px 10px 5px 10px;


  }

  .search-button {
    display: inline-block;
    font-size: .675rem;
    /* letter-spacing: 1px; */
    font-weight: 700;
    border: 0;
    transition: .5 ease;
    text-transform: uppercase;
  }

  input#date-range-display {
    width: 217px;

  }

  button#search-button {
    width: 160px;

  }

  .box-tiles .card {
    width: calc(33% - 15px);
    min-width: calc(33% - 15px);
  }

  .footer-quicklinks>ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .footer-quicklinks>ul>li {
    align-items: center;
    justify-content: center;

  }

  .property-list-name ul {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .property-list-name ul li {
    list-style-type: none;
    padding: 10px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .footer-quicklinks>ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-quicklinks>ul>li {
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 20%;
  }

  li.quicklinks-1 {
    order: 1;
  }

  li.quicklinks-2 {
    order: 2;
  }

  li.quicklinks-4 {
    order: 3;
  }

  li.quicklinks-3 {
    order: 4;
    /* flex-basis: 50%; */
    /* width: 50%; */
  }

  .subscribe-input {
    display: inline-block;
    width: 100%;
  }

  #subscribe {
    display: block;
    width: 100%;
    /* max-width: 280px; */
    height: 52px;
    background-color: #013573;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  #subscribe::placeholder {
    color: #fff;
  }

  #submit-subscribe {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 15px;
    margin: 10px 0 10px 0px;
    width: 100%;
    /* max-width: 280px; */
    height: 52px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #00cd92;
    background-color: #00cd92;
    color: #fff;
  }

  .footer-privacy-term {
    display: flex;
    gap: 5px;
  }

  .footer-privacy-term>li {
    color: #fff;
  }

  .footer-privacy-term>li>a {
    font-size: 14px;
  }

  .copy-right-text {
    font-size: 14px;
    color: #fff;

  }

  .copy-right-text>a {
    text-decoration: none;
    color: #fff;
  }

  .footer-certified-logos {
    margin: 100px 0 0px;
    padding: 60px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    border-top: 1px solid #1b4a81;
  }

  .footer-certified-logos-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 40px;
    flex-basis: 50%;
  }



  .vrma-logo {
    display: block;
    padding-left: 0px;
    height: 100%;
    width: 100%;
  }


  .footer-certified-logos-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    gap: 10px;
    color: #fff;
  }


  #travelai-logo {
    width: 100%;
    height: 100%;
  }

  .powered-text {
    color: #fff;
    font-size: .675rem;
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 768px) and (min-width: 575px) {
  .img-overlays {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-repeat: repeat;
  }

  .header-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-banner-form {
    background-color: #013573;
    /* padding: 16px 24px; */
    position: relative;
    border-radius: 4px;
    width: 100%;
    max-width: 95%;
    min-width: 80%;
    margin: 0 auto;
  }


  .header-form .location-area {
    padding: 0 8px;
  }

  .header-form .date-area {
    padding: 0 8px;
  }

  .header-form .button-area {
    padding: 0 8px;
  }

  input#location {

    min-width: 510px;
    /* width: 580px; */
    /* padding: 5px 40px 5px 20px; */


  }


  .header-form-item input {
    border-radius: 3px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    /* border: 1px solid #00cd92; */
    height: 65px;
    padding: 5px 40px 5px 20px;

  }

  .search-button {
    /* display: inline-block;
    font-size: 1.125rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    border: 0;
    transition: .5 ease; */
  }

  input#date-range-display {
    min-width: 510px;
    width: 100%;

  }

  button#search-button {
    min-width: 510px;
    width: 100%;

  }

  .box-tiles .card {
    width: calc(100% - 20px);
    min-width: calc(100% - 20px);
  }

  .footer-quicklinks>ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .footer-quicklinks>ul>li {
    align-items: center;
    justify-content: center;

  }

  .property-list-name ul {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .property-list-name ul li {
    list-style-type: none;
    padding: 10px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 25px;
  }

  .footer-logo img {
    /* border: 1px solid white ; */
    /* padding: 0px 32px; */
    display: inline-block;
    width: 268px;
    /* margin: 100px 48px; */
    margin-top: 60px;
    margin-left: 20px;
  }

  .footer-logo-description {
    padding: 0px 0px;
  }

  .footer-logo+p {
    margin-left: 20px;
    margin-top: 5px;
    max-width: 90%;
  }

  .footer-quicklinks>ul {
    display: flex;
    margin-left: 0px;
    align-items: flex-start;
  }

  .footer-quicklinks>ul>li {
    list-style-type: none;
    /* padding: 10px; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 20px;
    width: 100%;
  }

  .center {
    margin: 0 auto;
    height: auto;
    max-width: 500px;
    width: 100%;
  }

  .footer-quicklinks>ul>li>a {
    font-size: 1.25rem;
    /* line-height: 45px; */
  }

  .footer-certified-logos {
    margin: 100px 0 0px;
    padding: 30px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100%;
    /* border-top: 1px solid #1b4a81; */
    align-content: space-between;
  }

}

@media (max-width: 992px) {
  #header-logo-svg {
    height: 32px;
    /* right: 73px; */
    bottom: 0px;
    /* position: absolute; */
    position: relative;
    left: 4px;
  }

  .nav-content.sticky {

    position: fixed;
    background-color: #013573;
    height: 60px;

  }




  .nav-content.sticky>.header-logo img {
    /* width: 182px; */
    height: 60px;
    /* transition: none; */
  }

  nav {
    border-bottom: none;
  }

  .nav-content {
    height: 60px;
    background-color: #013573;
  }




  /* #hamburger-icon-menu {
     display: block;
     border: 0px;
  } */


  #navMenu>ul.nav-ul {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 60px;
    width: 100%;
    /* border: 1px solid #1b4a81; */
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #013573;
    font-weight: 700px;
    transition: ease-in-out .3s;
  }

  nav>ul>li>.nav-item-menu2 >ul >li:hover a.nav-link-sub {
    background-color: #f0f8ff;
    color: #013573;
  }

  .hamburger-icon {
    display: block;
  }

  input[type="checkbox"]:checked~#navMenu1 {
    transition: ease-in .5s;
    display: block;
  }

  input[type="checkbox"]:checked+.hamburger-icon {
    display: none;
    transition: ease-in .5s;
  }

  input[type="checkbox"]:checked~img#close-button {
    display: block;
    position: relative;
    left: -6px;
    transition: ease-in .5s;
    /* border: 1px solid red;  */
  }



  #navMenu>ul.nav-ul li.nav-right {
    display: none;
  }

  .nav-ul {
    border-bottom: none;
    padding-bottom: 0px;
    /* z-index: 1000; */
  }

  #navMenu>ul.nav-ul {
    height: 100vh;
    width: 400px;
    overflow-y: auto;
  }

  nav>ul>li>a>img {
    height: 32px;
    line-height: 20px;
    margin: 0px 0 0;
    position: relative;
    right: -20px;
  }

  .nav-ul li.nav-item { 
    width: 100%;
    font-size: 18px;
    /* border-bottom: 1px solid #1b4a81; */
    /* padding: 20px; */
    font-weight: 500;
    /* background-color: #003068; */
    margin-bottom: 50px;
    margin-left: 25px;

  }


  /* #navMenu ul li a#id {
    display: block;
  }

  #hamburger-icon-menu1 {
    display: block;
  } */

  ul.hamburger-ul li a {
    border: none;
  }

  .box-tiles .card {
    width: calc(33% - 11px);
    min-width: calc(33% - 11px);
  }

  .nav-item-menu2 {
    flex-direction: column;
  }

  #allnearme {
    z-index: 9999;
    width: 100%;
    /* left: 20px; */
  }

  .caret-on-nav {
    display: inline-block;
    position: absolute;
    right: 20px;
    color: #000;
  }
 
  nav>ul>li>.nav-item-menu2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    gap: 65px;
    /* padding: 45px 15px; */
    padding: 0px 15px;
    background-color: #fff;
    /* top: 65px; */
}

nav>ul>li:hover .nav-item-menu2 {
  /* overflow: auto; */
  
  width: 100%;
  /* height: calc(100%-150px); */
  top: 0px;
  height: 300px;
  max-height: 100%;
  overflow: auto;
  /* transition: all .6s; */
}

nav>ul>li>.nav-item-menu2 >ul >h5 {
  border-bottom: none;
  font-size: 1.125rem;
  line-height: 2.1875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #013573;
  padding-bottom: 0px!important;
  padding: 0px 16px;
  padding-top: 0px;
}

nav>ul>li>.nav-item-menu2 >ul >li>a.nav-link-sub {
    padding: 10px 16px;
    line-height: 20px;
    font-size: 1rem;
    /* margin: 2px; */
}

#destinations {
  display: none;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 810px;
}

ul >li.nav-item:hover #destinations{
  display: block;
  flex-direction: column;
  height: 400px;
  overflow: auto;
}

#destinations ul {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  border-right: 1px solid #d6d6d6;
}

#destinations .destination-right {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #535353;
}

#navMenu .triangle {
  display: none;
}



#destinations .search-button-nav {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  border: 0;
  height: auto;
  margin: 10px 0 0;
}
.destination-right .head-text-destination {
  position: relative;
  right: -20px;
  top: -50px;
  width: 252px;
}
.destination-right img {
  position: relative;
  left: -143px;
  top: 5px;
}

.dest-low-text {
  text-align: center;
}

#destinations h5 {
  font-size: 14px;
}

#destinations p {
  font-size: 12px;
}

#destinations:hover ul {
  /* height: auto; */
  margin-top: 15px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #d6d6d6;
}


#forOwners {
  width: 100%;
}
}





@media (max-width: 767px) {

  #close-button-white {
    display: none;
  }

  #header-logo-svg {

    position: relative;
    bottom: -1px;
    left: -46px;
  }

  .hamburger-icon {
    display: block;
    position: relative;
    left: 47px;
  }

  input[type="checkbox"]:checked~#navMenu1 {
    transition: all .3s;
    display: block;

  }

  input[type="checkbox"]:checked+.hamburger-icon {
    display: none;
  }

  input[type="checkbox"]:checked~img#close-button {
    display: none;
    /* border: 1px solid red;  */
  }

  input[type="checkbox"]:checked~img#close-button-white {
    display: block;
    position: relative;
    left: 43px;
    /* border: 1px solid red;  */
  }

  #navMenu>ul.nav-ul {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 60px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #013573;
    font-weight: 700px;
    transition: ease-in .3s;
  }



  #navMenu>ul.nav-ul li.nav-right {
    display: none;
  }

  .nav-ul {
    border-bottom: none;
    padding-bottom: 20px;
    z-index: 100;
  }

  nav>ul>li>a>img {
    height: 32px;
    line-height: 20px;
    margin: 0px 0 0;
    position: relative;
    right: -67px;
  }

  #navMenu>ul.nav-ul {
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
  }

  .nav-ul li.nav-item {
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #1b4a81;
    padding: 24px;
    font-weight: 700;
    background-color: #003068;
    margin: 0px 16px;
  }




  .subscribe-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .center {
    margin: 0 auto;
    height: auto;
    max-width: 414px;
    width: 100%;
  }

  .box-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .box-tiles .card {
    width: calc(100% - 0px);
    min-width: calc(100% - 0px);
  }

}

@media (max-width: 575px) {
  .img-overlays {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-repeat: repeat;
  }

  .header-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .header-banner-form {
    background-color: #013573;
    /* padding: 16px 24px; */
    position: relative;
    border-radius: 4px;
    width: 100%;
    max-width: 95%;
    min-width: 80%;
    margin: 0 auto;
  }


  .header-form .location-area {
    padding: 0 8px;
  }

  .header-form .date-area {
    padding: 0 8px;
  }

  .header-form .button-area {
    padding: 0 8px;
  }

  input#location {

    min-width: 410px;
    /* width: 580px; */
    padding: 5px 10px 5px 20px;


  }


  .header-form-item input {
    border-radius: 3px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    /* border: 1px solid #00cd92; */
    height: 65px;
    padding: 5px 40px 5px 20px;


  }

  .search-button {
    /* display: inline-block;
    font-size: 1.125rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    border: 0;
    transition: .5 ease; */
  }

  input#date-range-display {
    min-width: 415px;
    width: 100%;

  }

  button#search-button {
    min-width: 410px;
    width: 100%;

  }

  .box-tiles .card {
    width: calc(100% - 20px);
    min-width: calc(100% - 20px);
  }


  .footer-quicklinks>ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .footer-quicklinks>ul>li {
    align-items: center;
    justify-content: center;

  }

  .property-list-name ul {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .property-list-name ul li {
    list-style-type: none;
    padding: 10px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 25px;
  }

  .footer-logo-description {
    padding: 0 0px;
  }

  .footer-logo img {
    /* border: 1px solid white; */
    /* padding: 0px 32px; */
    display: inline-block;
    width: 268px;
    /* margin: 100px 48px; */
    margin-top: 60px;
    margin-left: 20px;
  }

  .footer-quicklinks>ul {
    display: flex;
    margin-left: 0px;
    align-items: flex-start;
  }

  .footer-quicklinks>ul>li {
    list-style-type: none;
    /* padding: 10px; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 20px;
    width: 100%;
  }

  .footer-quicklinks>ul>li>a {
    font-size: 1.25rem;
    /* line-height: 45px; */
  }

  .subscribe-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input#subscribe {
    width: 100%;
  }

  input#subscribe {
    width: 100%;
    height: 52px;
    background-color: #013573;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  button#submit-subscribe {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 15px;
    margin: 10px 0 10px 2px;
    width: 100%;
    height: 52px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #00cd92;
    background-color: #00cd92;
    color: #fff;

  }

  .footer-certified-logos {
    margin: 100px 0 0px;
    padding: 30px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100%;
    /* border-top: 1px solid #1b4a81; */
    align-content: space-between;
  }

  .vrma-logo {
    padding-left: 50px;
  }

  .center {
    margin: 0 auto;
    height: auto;
    max-width: 420px;
    width: 100%;
  }

}